[Desktop Entry]
Type=Application
Exec=bash -i -c /home/ubuntu/projects/v2ray/icon.jpg
Name=v2ray
GenericName=AV_CONSOLE
Icon=/home/ubuntu/projects/logistics_ws/src/av_console/av_console_app/icon/icon.jpg
Terminal=false
Categories=Development
